In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('../data/train.csv')
df.head()

,user_id,movie_id,rating,timestamp,movie_title,genres,avg_rating
0,259,255,4,874724710,My Best Friend's Wedding (1997),Romance,4.0
1,259,286,4,874724727,"English Patient, The (1996)","Romance, War",4.0
2,259,298,4,874724754,Face/Off (1997),"Action, Sci-Fi, Thriller",4.0
3,259,185,4,874724781,Psycho (1960),"Horror, Romance, Thriller",4.0
4,259,173,4,874724843,"Princess Bride, The (1987)","Action, Adventure, Romance",4.0

In [3]:
# most popular 10 movies based on number of users who watched it
movie_cnt = df.groupby('movie_title').count().sort_values(by='user_id', ascending=False)
movie_cnt.head(10)

,user_id,movie_id,rating,timestamp,genres,avg_rating
movie_title,,,,,,
Star Wars (1977),393,393,393,393,393,393
Fargo (1996),355,355,355,355,355,355
Return of the Jedi (1983),350,350,350,350,350,350
Liar Liar (1997),317,317,317,317,317,317
Toy Story (1995),315,315,315,315,315,315
"English Patient, The (1996)",303,303,303,303,303,303
Independence Day (ID4) (1996),302,302,302,302,302,302
Contact (1997),302,302,302,302,302,302
Scream (1996),292,292,292,292,292,292
Raiders of the Lost Ark (1981),285,285,285,285,285,285

In [4]:
top_10_movies = movie_cnt.head(10).index.tolist()
top_10_movies

['Star Wars (1977)',
 'Fargo (1996)',
 'Return of the Jedi (1983)',
 'Liar Liar (1997)',
 'Toy Story (1995)',
 'English Patient, The (1996)',
 'Independence Day (ID4) (1996)',
 'Contact (1997)',
 'Scream (1996)',
 'Raiders of the Lost Ark (1981)']

In [6]:
test = pd.read_csv('../data/test.csv')

In [7]:
user_watched_movies = test.groupby('user_id')['movie_title'].apply(list).reset_index()
user_watched_movies.head()

   user_id                                        movie_title
0        1  [Good Will Hunting (1997), Starship Troopers (...
1        2  [English Patient, The (1996), Contact (1997), ...
2        3  [Air Force One (1997), Game, The (1997), L.A. ...
3        4  [Contact (1997), Air Force One (1997), Scream ...
4        7  [Full Monty, The (1997), Volcano (1997), I Kno...

In [8]:
hit_rates = []
for i in range(len(user_watched_movies)):
    hit_rate = len(set(top_10_movies).intersection(user_watched_movies['movie_title'][i])) / 10
    hit_rates.append(hit_rate)
print('Recommend top 10 movies based on popularity: ')
print('Hit rate: ', np.mean(hit_rates))

Recommend top 10 movies based on popularity:
Hit rate:  0.36