In [1]:
import pandas as pd
import numpy as np
import wikipedia

In [7]:
wikipedia.__version__

(1, 4, 0)

In [2]:
data_cols = ['user id','movie id','rating','timestamp']
data = pd.read_csv('../data/ml-100k/u.data', sep='\t', header=None, names=data_cols)
data.head()

   user id  movie id  rating  timestamp
0      196       242       3  881250949
1      186       302       3  891717742
2       22       377       1  878887116
3      244        51       2  880606923
4      166       346       1  886397596

In [3]:
item_cols = ['movie id',  'movie title', 'release date', 'video release date','IMDb URL', 'unknown',\
'Action', 'Adventure', 'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama','Fantasy', \
'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance','Sci-Fi', 'Thriller', 'War', 'Western']
item = pd.read_csv('../data/ml-100k/u.item',  sep='|',header=None,names=item_cols,encoding='latin-1')
item.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
# Assuming 'df' is your DataFrame
genre_columns = ['Action', 'Adventure', 'Animation', 'Children', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

# Function to get genres for a row
def get_genres(row):
    genres = [genre for genre in genre_columns if row[genre] == 1]
    return ', '.join(genres) if genres else 'unknown'

# Apply the function to each row
item['Genres'] = item.apply(get_genres, axis=1)
item.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,Genres
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,"Animation, Children"
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,"Action, Adventure, Thriller"
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,Thriller
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,Action
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,Thriller

In [5]:
item = item[['movie id', 'movie title', 'Genres']]
item.head()

   movie id        movie title                       Genres
0         1   Toy Story (1995)          Animation, Children
1         2   GoldenEye (1995)  Action, Adventure, Thriller
2         3  Four Rooms (1995)                     Thriller
3         4  Get Shorty (1995)                       Action
4         5     Copycat (1995)                     Thriller

In [6]:
# merge data and item
df = pd.merge(data, item, on='movie id').sort_values(by=['user id', 'movie id']).reset_index(drop=True)
df.head()

,user id,movie id,rating,timestamp,movie title,Genres
0,1,1,5,874965758,Toy Story (1995),"Animation, Children"
1,1,2,3,876893171,GoldenEye (1995),"Action, Adventure, Thriller"
2,1,3,4,878542960,Four Rooms (1995),Thriller
3,1,4,3,876893119,Get Shorty (1995),Action
4,1,5,3,889751712,Copycat (1995),Thriller

In [7]:
# average rating for each movie for each user, add the column to df
df['avg_rating'] = df.groupby(['user id', 'movie id'])['rating'].transform('mean')
# rename the column
df.columns = ['user_id', 'movie_id', 'rating', 'timestamp', 'movie_title', 'genres', 'avg_rating']
df.head()

,user_id,movie_id,rating,timestamp,movie_title,genres,avg_rating
0,1,1,5,874965758,Toy Story (1995),"Animation, Children",5.0
1,1,2,3,876893171,GoldenEye (1995),"Action, Adventure, Thriller",3.0
2,1,3,4,878542960,Four Rooms (1995),Thriller,4.0
3,1,4,3,876893119,Get Shorty (1995),Action,3.0
4,1,5,3,889751712,Copycat (1995),Thriller,3.0

In [8]:
df.to_csv('../data/processed_movie100k.csv', index=False)

### Add wiki summary

In [2]:
movie100k = pd.read_csv('/workspaces/LLM-Recommender-System/data/processed_movie100k.csv')
movie100k.head()
print(movie100k.shape)

(100000, 7)

In [3]:
movie_data = []

for title in np.unique(movie100k['movie_title']):
    try:
        # Formatting the title for Wikipedia
        title_formatted = title.replace("'", "").rstrip()
        if "(" in title_formatted and ")" in title_formatted:
            title_formatted = title_formatted.replace(")", " film)")  # Add 'film' before the closing parenthesis
        else:
            title_formatted += " (film)"

        # Fetching the summary
        summary = wikipedia.summary(title_formatted, sentences=1)
        movie_data.append({'movie_title': title, 'wiki_summary': summary})
    except wikipedia.DisambiguationError as e:
        # Handle disambiguation by looking for a title containing 'film'
        relevant_page = next((option for option in e.options if "film" in option and title.split(" (")[0] in option), None)
        if relevant_page:
            try:
                summary = wikipedia.summary(relevant_page, sentences=1)
                movie_data.append({'movie_title': title, 'wiki_summary': summary})
            except Exception as ex:
                print(f"Failed to fetch summary for {title}: {ex}")
        else:
            print(f"No relevant Wikipedia page found for {title}")
    except Exception as ex:
        print(f"Failed to fetch summary for {title}: {ex}")

# Creating the DataFrame after collecting all data
movie_wiki = pd.DataFrame(movie_data)

Failed to fetch summary for 2001: A Space Odyssey (1968): Page id "2001 a space odyssey 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Alice in Wonderland (1951): Page id "alice in wonderland 1981 film" does not match any pages. Try another id!
Failed to fetch summary for Amadeus (1984): Page id "amateur 1994 film" does not match any pages. Try another id!
Failed to fetch summary for Amityville 3-D (1983): Page id "amityville 3 d 1993 film" does not match any pages. Try another id!
Failed to fetch summary for Andre (1994): Page id "andres 1991 film" does not match any pages. Try another id!
Failed to fetch summary for April Fool's Day (1986): Page id "april fool's day 1986 film" does not match any pages. Try another id!

/home/codespace/.python/current/lib/python3.10/site-packages/wikipedia/wikipedia.py:389: GuessedAtParserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("html.parser"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 389 of the file /home/codespace/.python/current/lib/python3.10/site-packages/wikipedia/wikipedia.py. To get rid of this warning, pass the additional argument 'features="html.parser"' to the BeautifulSoup constructor.

  lis = BeautifulSoup(html).find_all('li')

No relevant Wikipedia page found for B*A*P*S (1997)
Failed to fetch summary for Babe (1995): Page id "babe 1999 film" does not match any pages. Try another id!
Failed to fetch summary for Babysitter, The (1995): Page id "babysitters the 1996 film" does not match any pages. Try another id!
Failed to fetch summary for Bad Company (1995): Page id "bad company 1999 film" does not match any pages. Try another id!
Failed to fetch summary for Ballad of Narayama, The (Narayama Bushiko) (1958): Page id "ballad of narayama the narayama bushi kÃ´ film 1988 film" does not match any pages. Try another id!
Failed to fetch summary for Barcelona (1994): Page id "barcelona 1992 film" does not match any pages. Try another id!
Failed to fetch summary for Beautiful Girls (1996): Page id "beautiful girls 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Beautiful Thing (1996): Page id "beautiful thing 1999 film" does not match any pages. Try another id!
Failed to fetch summary for Beyond Bedlam (1993): Page id "beyond bedlam 1996 film" does not match any pages. Try another id!
No relevant Wikipedia page found for Big Bang Theory, The (1994)
Failed to fetch summary for Bitter Sugar (Azucar Amargo) (1996): Page id "bitter sugar azÃºcar amarga film 1996 film" does not match any pages. Try another id!
Failed to fetch summary for Blink (1994): Page id "blank 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Blood & Wine (1997): Page id "blood wind 1999 film" does not match any pages. Try another id!
Failed to fetch summary for Bloodsport 2 (1995): Page id "blood part 2 1999 film" does not match any pages. Try another id!
Failed to fetch summary for Bloody Child, The (1996): Page id "blonde child the 1996 film" does not match any pages. Try another id!
Failed to fetch summary for Bram Stoker's Dracula (1992): Page id "bram stoker's dracula 1992 film" does not match any pages. Try another id!
Failed to fetch summary for Brothers in Trouble (1995): Page id "brothers in trouble 1996 film" does not match any pages. Try another id!
Failed to fetch summary for C'est arrivÃ© prÃ¨s de chez vous (1992): Page id "cent arrivÃ© prÃ¨s de chez vous 1997 film" does not match any pages. Try another id!
Failed to fetch summary for Cape Fear (1962): Page id "cape fear 1991 film" does not match any pages. Try another id!
Failed to fetch summary for Cats Don't Dance (1997): Page id "cats don't dance 1997 film" does not match any pages. Try another id!
Failed to fetch summary for City of Angels (1998): Page id "city of angels 1995 film" does not match any pages. Try another id!
Failed to fetch summary for Clockers (1995): Page id "clocks 1999 film" does not match any pages. Try another id!
Failed to fetch summary for Condition Red (1995): "Condition Red" may refer to:
Condition Red (film)
Condition Red (comics)
Condition Red (Red Rockers album)
Condition Red (Iron Savior album)
"Condition Red" (The Goodees song)
Failed to fetch summary for Contempt (MÃ©pris, Le) (1963): Page id "contest mÃ©tis le film 1963 film" does not match any pages. Try another id!
Failed to fetch summary for Convent, The (Convento, O) (1995): Page id "consent the convention o film 1995 film" does not match any pages. Try another id!
Failed to fetch summary for Crow: City of Angels, The (1996): Page id "crown city of angels the 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Curdled (1996): Page id "curler 1997 film" does not match any pages. Try another id!
Failed to fetch summary for Dadetown (1995): Page id "darktown 1999 film" does not match any pages. Try another id!
Failed to fetch summary for Day the Sun Turned Cold, The (Tianguo niezi) (1994): Page id "Day the Sun Turned Cold, The (Tianguo niezi film) (1994 film)" does not match any pages. Try another id!
Failed to fetch summary for Devil's Advocate, The (1997): Page id "devil's advocate the 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Die xue shuang xiong (Killer, The) (1989): Page id "die xue shuang xiong killed the film 1988 film" does not match any pages. Try another id!
Failed to fetch summary for Dingo (1992): Page id "diego 1999 film" does not match any pages. Try another id!
Failed to fetch summary for Drop Zone (1994): Page id "drop zone 1992 film" does not match any pages. Try another id!
Failed to fetch summary for Drunks (1995): Page id "drinks 1997 film" does not match any pages. Try another id!
Failed to fetch summary for Duoluo tianshi (1995): Page id "duomo tinashe 1995 film" does not match any pages. Try another id!
Failed to fetch summary for Ed's Next Move (1996): Page id "eds next movie 1996 film" does not match any pages. Try another id!
Failed to fetch summary for Enfer, L' (1994): Page id "enter l 1997 film" does not match any pages. Try another id!
Failed to fetch summary for Etz Hadomim Tafus (Under the Domin Tree) (1994): Page id "Etz Hadomim Tafus (Under the Domin Tree film) (1994 film)" does not match any pages. Try another id!
Failed to fetch summary for Fast, Cheap & Out of Control (1997): Page id "fast cheap out of control 1992 film" does not match any pages. Try another id!
Failed to fetch summary for Firm, The (1993): Page id "film the 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Gabbeh (1996): Page id "gables 1999 film" does not match any pages. Try another id!
Failed to fetch summary for Ghost (1990): Page id "ghost 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Ghost and Mrs. Muir, The (1947): Page id "ghost and mrs muir the 1974 film" does not match any pages. Try another id!
Failed to fetch summary for Grease (1978): Page id "greece 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Gridlock'd (1997): Page id "gridlock'd 1997 film" does not match any pages. Try another id!
Failed to fetch summary for Heavy Metal (1981): Page id "heavy metal 1988 film" does not match any pages. Try another id!
Failed to fetch summary for Highlander (1986): Page id "highland 1987 film" does not match any pages. Try another id!
Failed to fetch summary for Horse Whisperer, The (1998): Page id "horse whispers the 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Hostile Intentions (1994): Page id "hostage inventions 1994 film" does not match any pages. Try another id!
Failed to fetch summary for Howling, The (1981): Page id "holding the 1988 film" does not match any pages. Try another id!
Failed to fetch summary for I Can't Sleep (J'ai pas sommeil) (1994): Page id "i can't sleep jai pas sommeil film 1997 film" does not match any pages. Try another id!
Failed to fetch summary for I Don't Want to Talk About It (De eso no se habla) (1993): Page id "I Dont Want to Talk About It (De eso no se habla film) (1993 film)" does not match any pages. Try another id!
Failed to fetch summary for Innocents, The (1961): Page id "innocence the 1964 film" does not match any pages. Try another id!
Failed to fetch summary for Invitation, The (Zaproszenie) (1986): Page id "initiation the zaproszenie films 1986 film" does not match any pages. Try another id!
Failed to fetch summary for Jackie Chan's First Strike (1996): Page id "jackie chang first strike 1996 film" does not match any pages. Try another id!
Failed to fetch summary for Jade (1995): Page id "jane 1991 film" does not match any pages. Try another id!
Failed to fetch summary for Jude (1996): Page id "june 1995 film" does not match any pages. Try another id!
Failed to fetch summary for Judge Dredd (1995): Page id "judge dress 1995 film" does not match any pages. Try another id!
Failed to fetch summary for Judgment Night (1993): Page id "judgment night 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Jupiter's Wife (1994): Page id "jupiter wife 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Jury Duty (1995): Page id "jury duty 1997 film" does not match any pages. Try another id!
Failed to fetch summary for Kama Sutra: A Tale of Love (1996): Page id "kama sutra a tale of love 1997 film" does not match any pages. Try another id!
Failed to fetch summary for Kicked in the Head (1997): Page id "killed in the head 1994 film" does not match any pages. Try another id!
Failed to fetch summary for Legal Deceit (1997): Page id "legal deceit 1999 film" does not match any pages. Try another id!
Failed to fetch summary for Little Princess, The (1939): Page id "little princess the 1979 film" does not match any pages. Try another id!
Failed to fetch summary for Love & Human Remains (1993): Page id "love human remains 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Love in the Afternoon (1957): Page id "love in the afternoon 1972 film" does not match any pages. Try another id!
Failed to fetch summary for Maltese Falcon, The (1941): Page id "maltese falcon the 1948 film" does not match any pages. Try another id!
Failed to fetch summary for Mark of Zorro, The (1940): Page id "mark of zorro the 1980 film" does not match any pages. Try another id!
Failed to fetch summary for Metisse (CafÃ© au Lait) (1993): Page id "melissa cafÃ© au lait film 1996 film" does not match any pages. Try another id!
Failed to fetch summary for Microcosmos: Le peuple de l'herbe (1996): Page id "Microcosmos: Le peuple de lherbe (1996 film)" does not match any pages. Try another id!
Failed to fetch summary for My Best Friend's Wedding (1997): Page id "my best friend's wedding 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Nell (1994): Page id "nell 1990 film" does not match any pages. Try another id!
Failed to fetch summary for Next Step, The (1995): Page id "next stop the 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Nightwatch (1997): Page id "night watch 1995 film" does not match any pages. Try another id!
Failed to fetch summary for Nobody Loves Me (Keiner liebt mich) (1994): Page id "nobody loves me kenner liebe mich film 1994 film" does not match any pages. Try another id!
Failed to fetch summary for Nothing to Lose (1994): Page id "nothing to lose 1997 film" does not match any pages. Try another id!
Failed to fetch summary for Of Human Bondage (1934): Page id "of human bondage 1964 film" does not match any pages. Try another id!
Failed to fetch summary for Parent Trap, The (1961): Page id "parent trap the 1964 film" does not match any pages. Try another id!
Failed to fetch summary for Paris Was a Woman (1995): Page id "paris was a woman 1992 film" does not match any pages. Try another id!
Failed to fetch summary for Pete's Dragon (1977): Page id "pete's dragon 1977 film" does not match any pages. Try another id!
Failed to fetch summary for Philadelphia Story, The (1940): Page id "philadelphia story the 1980 film" does not match any pages. Try another id!
Failed to fetch summary for Pie in the Sky (1995): Page id "pie in the sky 1996 film" does not match any pages. Try another id!
Failed to fetch summary for Platoon (1986): Page id "platoon 1987 film" does not match any pages. Try another id!
Failed to fetch summary for Postino, Il (1994): Page id "position il 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Prisoner of the Mountains (Kavkazsky Plennik) (1996): Page id "prisoner of the mountains kavkazskiy plennik film 1997 film" does not match any pages. Try another id!
Failed to fetch summary for Pushing Hands (1992): Page id "pushing hands 1999 film" does not match any pages. Try another id!
Failed to fetch summary for Quartier Mozart (1992): Page id "quarter mozart 1999 film" does not match any pages. Try another id!
Failed to fetch summary for Return of the Pink Panther, The (1974): Page id "return of the pink panther the 1984 film" does not match any pages. Try another id!
Failed to fetch summary for Ripe (1996): Page id "ride 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Robin Hood: Prince of Thieves (1991): Page id "robin hood prince of thieves 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Sabrina (1995): Page id "sabrina (1999film)" does not match any pages. Try another id!
Failed to fetch summary for Shadows (Cienie) (1988): Page id "shadows ciencia film 1986 film" does not match any pages. Try another id!
Failed to fetch summary for Singin' in the Rain (1952): Page id "singing in the rain 1955 film" does not match any pages. Try another id!
No relevant Wikipedia page found for Sixth Man, The (1997)
Failed to fetch summary for Sliver (1993): Page id "silver 1993 film" does not match any pages. Try another id!
Failed to fetch summary for Smilla's Sense of Snow (1997): Page id "smilla's sense of snow 1997 film" does not match any pages. Try another id!
Failed to fetch summary for Smoke (1995): Page id "smoke 1999 film" does not match any pages. Try another id!
Failed to fetch summary for Sound of Music, The (1965): Page id "sound of music the 1968 film" does not match any pages. Try another id!
Failed to fetch summary for Speed (1994): Page id "speech 1994 film" does not match any pages. Try another id!
Failed to fetch summary for Sprung (1997): Page id "spring 1990 film" does not match any pages. Try another id!
Failed to fetch summary for Squeeze (1996): Page id "squeeze 1997 film" does not match any pages. Try another id!
Failed to fetch summary for Stag (1997): Page id "star 1997 film" does not match any pages. Try another id!
Failed to fetch summary for Stand by Me (1986): Page id "stand by me 1989 film" does not match any pages. Try another id!
Failed to fetch summary for Star Trek: The Motion Picture (1979): Page id "star trek the motion picture 1989 film" does not match any pages. Try another id!
Failed to fetch summary for Stephen King's The Langoliers (1995): Page id "stephen king's the langelier 1995 film" does not match any pages. Try another id!
Failed to fetch summary for Story of Xinghua, The (1993): Page id "story of xinhua the 1996 film" does not match any pages. Try another id!
Failed to fetch summary for Streetcar Named Desire, A (1951): Page id "streetcar named desire a 1952 film" does not match any pages. Try another id!
Failed to fetch summary for SubUrbia (1997): Page id "suburbia 1996 film" does not match any pages. Try another id!
Failed to fetch summary for T-Men (1947): Page id "t men 1997 film" does not match any pages. Try another id!
Failed to fetch summary for Tainted (1998): Page id "tailed 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Thieves (Voleurs, Les) (1996): Page id "thieves voters les films 1996 film" does not match any pages. Try another id!
Failed to fetch summary for Three Musketeers, The (1993): Page id "three musketeers the 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Tigrero: A Film That Was Never Made (1994): Page id "tigers a film that was never made 1999 film" does not match any pages. Try another id!
Failed to fetch summary for Time Tracers (1995): Page id "time traders 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Total Eclipse (1995): Page id "total eclipse 1996 film" does not match any pages. Try another id!
Failed to fetch summary for Tough and Deadly (1995): Page id "touch and deadly 1995 film" does not match any pages. Try another id!
Failed to fetch summary for True Crime (1995): Page id "true crime 1999 film" does not match any pages. Try another id!
Failed to fetch summary for Twister (1996): Page id "twisted 1996 film" does not match any pages. Try another id!
Failed to fetch summary for Vermin (1998): Page id "vermont 1996 film" does not match any pages. Try another id!
Failed to fetch summary for Vie est belle, La (Life is Rosey) (1987): Page id "Vie est belle, La (Life is Rosey film) (1987 film)" does not match any pages. Try another id!
Failed to fetch summary for Village of the Damned (1995): Page id "villages of the damned 1995 film" does not match any pages. Try another id!
Failed to fetch summary for Wedding Bell Blues (1996): Page id "wedding bell blues 1998 film" does not match any pages. Try another id!
Failed to fetch summary for Wend Kuuni (God's Gift) (1982): Page id "wend kuuni god's gift film 1984 film" does not match any pages. Try another id!
Failed to fetch summary for What's Love Got to Do with It (1993): Page id "what's love got to do with it 1993 film" does not match any pages. Try another id!
Failed to fetch summary for William Shakespeare's Romeo and Juliet (1996): Page id "william shakespeare's romeo and juliet 1996 film" does not match any pages. Try another id!
Failed to fetch summary for Wizard of Oz, The (1939): Page id "wizard of oz the 1959 film" does not match any pages. Try another id!
Failed to fetch summary for Wonderland (1997): Page id "wonderland 1999 film" does not match any pages. Try another id!
No relevant Wikipedia page found for unknown

In [4]:
movie_wiki.head()

,movie_title,wiki_summary
0,'Til There Was You (1997),'Til There Was You is a 1997 American romantic...
1,1-900 (1994),1-900 or 06 is a 1994 Dutch erotic romantic dr...
2,101 Dalmatians (1996),101 Dalmatians is a 1996 American adventure co...
3,12 Angry Men (1957),12 Angry Men is a 1957 American legal drama fi...
4,187 (1997),One Eight Seven (also known as 187) is a 1997 ...

In [6]:
movie_wiki.to_csv('/workspaces/LLM-Recommender-System/data/movie_wiki.csv', index=False)